{% extends "faculty/base.html" %}

{% block content %}

<div class="container" style="margin-top:50px">
    
    <div class="container" style="text-align: center">
        <div class="row">
            <div class="col-md-6">
                <select id="facultyname">
                    {% if request.session.facultyname %}
                    <option selected="{{ request.session.facultyname }}">{{ request.session.facultyname }}</option>
                    {% else %}
                    <option selected="">Select faculty</option>
                    {% endif %}
                    {% for name in faculty %}
                    <option value="{{ name.firstname }}">{{ name.firstname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <select id="awardtype">
                    <option selected="">Select award</option>
                    <option selected="">Teaching</option>
                    <option selected="">Research</option>
                </select>
            </div>
        </div><br/><br/>
        <button type="submit" class="btn btn-sm btn-dark" id="nominate">Nominate</button>
    </div><br/><br/>
    <div class="container" style="text-align: center">
        <table class="table">
            <thead>
                <tr>
                    <th>Faculty Name</th>
                    <th>Nomination Type</th>
                </tr>
            </thead>
            <tbody>
                {% for row in award %}
                <tr>
                    <td>{{ row.facultyname }}</td>
                    <td>{{ row.awardtype }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>

<script>
    $(document).ready(function () {
       
        $('nominate').click(function (){
            
            $.ajax({
                
                url: "{% url 'saveaward' %}",
                data:{
                    fname: $('#facultyname').val(),
                    aname: $('#awardtype').val()
                },
                success: function(){
                    window.location = "{% url 'award' %}"
                }
            });
        });
        
        $('facultyname').change(function (){
            
             $.ajax({
                
                url: "{% url 'saveaward' %}",
                data:{
                    fname: $('#facultyname').val()
                },
                success: function(){
                    window.location = "{% url 'award' %}"
                }
            });
            
        });
    });
</script>

{% endblock %}