{% extends "faculty/base.html" %}

{% block content %}

<div class="container" style="margin-top:50px; text-align: center">

    <h3>Enrollment by Year</h3>
    
    <div>
        <canvas id="myChart" height="200" width="600"></canvas>
</div><br/><br/>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    
<script>
    var ctx = document.getElementById("myChart")
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Freshman','Sophomore', 'Junior', 'Seniors'],
            datasets: [{
                data: [0,6,7,6],
                backgroundColor: 'rgba(230,20,38,.2)',
                borderColor: 'rgba(230,20,38,.8)',
                borderWidth: 3,
                
            }]
        },
    });
    
    document.getElementById ("myChart").onclick = function(evt)
    {
        
        var activeElement = myChart.getElementAtEvent(evt);
        var clickedElementIndex = activeElement[0]._index;
        var name = myChart.data.labels[clickedElementIndex];
        alert(name);
    }
    
    
    
</script>
    
{% endblock %}