{% extends "faculty/base.html" %}

{% block content %}

<div class="container" style="margin-top:50px">
    
    <div class="container" style="text-align: center">
        <div class="row">
            <div class="col-md-6">
                <select id="studentname">
                    <option selected="">Select student</option>
                    {% for name in student %}
                    <option value="{{ name.lastname }}">{{ name.lastname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <select id="coursename">
                    <option selected="">Select course</option>
                    {% for name in name %}
                    <option value="{{ name.coursename }}">{{ name.coursename }}</option>
                    {% endfor %}
                </select>
            </div>
        </div><br/><br/>
        <button type="submit" class="btn btn-sm btn-dark" id="enroll">Enroll</button>
    </div><br/><br/>
    <div class="container" style="text-align: center">
        <table class="table">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Enrolled Course</th>
                </tr>
            </thead>
            <tbody>
                {% for row in course %}
                <tr>
                    <td>{{ row.studentname }}</td>
                    <td>{{ row.coursename }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>

<script>
    
    $(document).ready(function (){
       
        $('#enroll').click(function (){
            
           $.ajax({
               
                url:"{% url 'enrollsave' %}",
                data: {
                    sname: $('#studentname').val(),
                    cname: $('#coursename').val()
                },
                success: function(){
                    window.location = "{% url 'enrollsave' %}"
               }
               
           }); 
            
        });
        
        
        
    });



</script>

{% endblock %}