{% extends "faculty/base.html" %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Student Details</title>
        <meta charset="utf-8"/>
        <meta name="viewport", content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel ="stylesheet" type="text/css" href="{% static 'faculty/css/style.css' %}" />
    </head>
    <body>

        <div class="container">
            <div class="jumbotron">
                <h1>Student Details</h1>
                <p>Administrator: {{ name }}</p>
            </div>
        </div>
        
        <div class = "container">
            <table class = "table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Course ID </th>
                        <th>Course Description</th>
                    </tr>    
                </thead>
                    <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{ row.firstname }}</td>
                            <td>{{ row.lastname }}</td>
                            <td>{{ row.courseid }}</td>
                            <td>{{ row.coursedescription }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
            <div class = "pagination">
                <span class="step-links">
                    {% if data.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{ data.previous_page_number}}">Previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ data.number }} of {{ data.paginator.num_pages}}
                    </span>
                    {% if data.has_next %}
                        <a href="?page={{ data.next_page_number }}">Next</a>
                        <a href="page={{ data.paginator.num_pages }}">Last &raquo</a>
                    {% endif %}
                </span>
            </div>
        </div>
        
    </body>
</html>

{% endblock %}